---
AccessModifierOffset: '-4'
IndentCaseLabels: 'false'
IndentWidth: '4'
PointerAlignment: Left
TabWidth: '4'
UseTab: ForIndentation
ColumnLimit: 80 
AllowShortFunctionsOnASingleLine: 'None'
AlignAfterOpenBracket: Align
BinPackParameters: false
AlignConsecutiveAssignments: Consecutive
...
