# computational conditions
dim: 2
particleDistance: 0.012
dt: 0.002
endTime: 10.0
outputPeriod: 0.1
cflCondition: 0.3
numPhysicalCores: 4

# domain
domainMin: [-0.25, -0.05, 0.0]
domainMax: [0.25, 0.6, 0.0]

# physical properties
fluidDensity: 1000.0
kinematicViscosity: 1.0e-04 # 少数第一位まで書かないと文字列として認識されてしまう

# gravity
gravity: [0.0, -10.0, 0.0]

# free surface detection
# surface detection based on number density
surfaceDetection-numberDensity-threshold: 0.97 # threshold ratio of the number density
# surface detection based on particle distribution
surfaceDetection-particleDistribution: true
surfaceDetection-particleDistribution-threshold: 1.0

# pressure calculation method
pressureCalculationMethod: Implicit # Implicit or Explicit
# for Implicit
compressibility: 0.45e-09
relaxationCoefficientForPressure: 0.2
# for Explicit
soundSpeed: 17.1

# collision
collisionDistanceRatio: 0.5
coefficientOfRestitution: 0.2

# effective radius
radiusRatioForNumberDensity: 3.1
radiusRatioForGradient: 2.1
radiusRatioForLaplacian: 3.1

# i/o
# relative path from the directory where this file is located
particlesPath: ./input.prof
