# computational conditions
dim: 2
particleDistance: 0.025
dt: 0.001
finishTime: 2.0
outputPeriod: 0.04
cflCondition: 0.3
numPhysicalCores: 4

# domain
domainMin: [-0.1, -0.1, 0.0]
domainMax: [1.1, 2.0, 0.0]

# physical properties
fluidDensity: 1000.0
kinematicViscosity: 1.0e-06 # 少数第一位まで書かないと文字列として認識されてしまう

# gravity
gravity: [0.0, -9.8, 0.0]

# free surface detection ratio of the number density
surfaceDetectionRatio: 0.97

# pressure Poisson equation
compressibility: 0.45e-09
relaxationCoefficientForPressure: 0.2

# collision
collisionDistanceRatio: 0.5
coefficientOfRestitution: 0.2

# effective radius
radiusRatioForNumberDensity: 3.1
radiusRatioForGradient: 2.1
radiusRatioForLaplacian: 3.1

# profpath
profPath: ./input.prof # relative path from the project root directory

outputDirectory: ../../result/dambreak