name: CMake on Linux/macOS

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            cpp_compiler: clang++
          - os: ubuntu-latest
            cpp_compiler: g++
          - os: macos-latest
            cpp_compiler: clang++
          - os: macos-latest
            cpp_compiler: g++

    name: CI on ${{ matrix.os }} ${{ matrix.cpp_compiler }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies for Ubuntu # Install OpenMP, ninja
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update 
          sudo apt-get install -y ninja-build libomp-dev

      - name: Install dependencies for macOS # install OpenMP, ninja
        if: matrix.os == 'macos-latest'
        run: |
          brew install ninja libomp
          echo "OpenMP_ROOT=$(brew --prefix)/opt/libomp" >> "$GITHUB_ENV"

      - name: Configure CMake
        run: cmake -G Ninja -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}

      - name: Build
        run: cmake --build build

      - name: Test with CTest
        run: ./build/mps_test
