name: CMake on Windows (MSYS2)

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - sys: mingw64
          - sys: ucrt64
          - sys: clang64
    name: CI on Windows ${{ matrix.sys }}
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: msys2/setup-msys2@v2
        with:
          msystem: ${{matrix.sys}}
          update: true
          pacboy: >-
            toolchain:p
            cmake:p
            ninja:p

      - name: Configure CMake
        run: cmake -G Ninja -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_POLICY_VERSION_MINIMUM=3.5 # yaml-cpp cannot be built with cmake 4

      - name: Build
        run: cmake --build build

      - name: Test with CTest
        run: ./build/mps_test.exe
